
<h1>Little Maven</h1>

<a href="/list"><b>List of Places</b></a>
<br/>

<a href="/MadHatters">Mad Hatter's</a>
<br/>
<a href="/place/10150575312730331">Peacefood Cafe</a>
<br/>
<a href="/place/712665292213004">Pendulum Bar and Grill</a>
<br/>
<a href="/place/453364848415032">Manhattan’s Paisley</a>
<br/>
<a href="/place/423432977859426">Trattoria Genova</a>
<br/>
<a href="/place/1651558365070328">Zambretto Italian</a>
<br/>
<a href="/place/226714294333646">Little Steak House</a>
<br/><br/>
<form action="/fb-result" method="get">
    <input class="form-control" type="text" name="q" placeholder="places search..."><br/>
    <input class="form-control" type="text" name="latitude" placeholder="latitude" required><br/>
    <input class="form-control" type="text" name="longitude" placeholder="longitude" required><br/>
    <select name="categories" placeholder="SELECT A CATEGORY">
      <option value="">NONE</option>
      <option value="FOOD_BEVERAGE", "ARTS_ENTERTAINMENT", "EDUCATION", "FITNESS_RECREATION", "HOTEL_LODGING", "MEDICAL_HEALTH", "SHOPPING_RETAIL", "TRAVEL_TRANSPORTATION">ALL</option>
      <option value="FOOD_BEVERAGE">FOOD_BEVERAGE</option>
      <option value="ARTS_ENTERTAINMENT">ARTS_ENTERTAINMENT</option>
    </select>  <br/>
    <input class="btn btn-secondary my-2" type="submit" value="search">
</form>

<p>The Whiskey Bond: latitude= 55.8764 longitude= -4.2581</p>
<p>12 Greenlaw Ave: latitude= 55.84805 longitude= -4.41276</p>
