
<h1>Little Maven</h1>
<h3>Add a new venue</h3>

<form action="/g-result" method="get">
    <input class="form-control" type="text" name="keyword" placeholder="places search..."><br/>
    <input class="form-control" type="text" name="latitude" placeholder="latitude" required><br/>
    <input class="form-control" type="text" name="longitude" placeholder="longitude" required><br/>
    <input class="form-control" type="text" name="radius" placeholder="search radius" required><br/>
    <input class="btn btn-secondary my-2" type="submit" value="search">
</form>


<p>The Whiskey Bond: latitude= 55.8764 longitude= -4.2581</p>
<p>12 Greenlaw Ave: latitude= 55.84805 longitude= -4.41276</p>


<form action="/g-result" method="get">
    <input class="form-control" type="text" name="keyword" placeholder="places search..."><br/>
    <input class="form-control" type="text" name="latitude" placeholder="latitude" required><br/>
    <input class="form-control" type="text" name="longitude" placeholder="longitude" required><br/>
    <input class="form-control" type="text" name="radius" placeholder="search radius" required><br/>
    <input class="btn btn-secondary my-2" type="submit" value="search">
</form>
